<div class= 'container'>
    <button class="button button1">Homes</button>
    <button class="button button1 relative">
       Experiences</button>
       <a class= "button button1" href= "#"><img class = "dog" 
        src="http://res.cloudinary.com/anjali-m/image/upload/v1528165084/download_kqpqtg.jpg"/>Experiences</a>
    <button class="button button1">Restaurants</button>
    
    <h2>Restaurants around the world</h2>
    <div class= 'grid-container' *ngIf= 'products && products.length'>    
        <div class = 'cell' *ngFor= 'let product of products'>
            <img class= 'pic' [src]= 'product.imageUrl' [title]='product.productName' [style.width.px]= 'imageWidth'
            [style.height.px]= 'imageHeight' [style.margin.px]= 'imageMargin'>          
            <div class= 'name'><a>{{ product.productName | uppercase }}</a></div>
            <div class= 'description'> {{product.description}}</div>
            <div class='cost'>{{ product.price | currency}}</div>
            <!-- <div class='stars'>
                <app-star [rating] = 'product.starRating' [reviews]='product.reviews'></app-star>
              </div> -->
        </div>
  </div>
  